tmp
[Cc]onfig/database.php
app/tmp/*
app/[Cc]onfig/database.php
toxdb.sublime-project
toxdb.sublime-workspace
sftp-config.json
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
!empty